image: node:20

pages:
  stage: deploy
  script:
    - npm ci
    - npm run build
    - mv out public
    - cp public/index.html public/404.html
  artifacts:
    paths:
      - public
  only:
    - main

